* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: rgba(207, 211, 205, 0.336);
}

/* proprietà header */

.container {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    background-color: white;
    width: 100px;
    padding: 10px;
}

.logo-script {
    display: inline-block;
    font-size: 60px;
    padding-top: 10px;
    vertical-align: top;
    font-weight: bolder;
}

/* proprietà main */

.main-content {
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
}

.header-main {
    border-bottom: 1px solid rgba(207, 211, 205, 0.336);
}

a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

#Atask {
    background-color: rgb(95, 124, 204);
    color: white;
    margin-left: 50px;
}

#Asection {
    background-color: white;
    color: gray;
    border: 1px solid gray;
}

/* prima sezione */

.section-main {
    margin-left: 50px;
}

h2 {
    margin-top: 50px;
}


li {
    list-style: none;
    background-color: white;
    font-size: 20px;
    line-height: 50px;
}

.spunta {
    color: green;
    border-radius: 50%;
    border: 1px solid green;
    padding: 5px;
    background-color: white;

}

.x {
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    padding: 5px;
    background-color: white;

}

.color{
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}

#editorial {
    background-color: rgb(116, 116, 216);
}

#goals {
    background-color: rgb(46, 46, 172);
}

#recruiting {
    background-color: rgb(182, 101, 101);
}

#mobile {
    background-color: orange;
}

#website {
    background-color: rgb(55, 54, 68);
}

#sales {
    background-color: rgb(123, 180, 105);
}