* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: lightgray;
}

/* proprietà header */

.container {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    background-color: white;
    width: 100px;
    padding: 10px;
}

.logo-script {
    display: inline-block;
    font-size: 60px;
    padding-top: 10px;
    vertical-align: top;
    font-weight: bolder;
}

/* proprietà main */

.main-content {
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
}

.header-main {
    border-bottom: 1px solid lightgray;
}

a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

#Atask {
    background-color: rgb(95, 124, 204);
    color: white;
    margin-left: 50px;
}

#Asection {
    background-color: white;
    color: gray;
    border: 1px solid gray;
}

/* prima sezione */

.section-main {
    margin-left: 50px;
}

h2 {
    margin-top: 50px;
}


li {
    list-style: none;
    background-color: white;
    font-size: 20px;
    line-height: 50px;
}

.spunta {
    color: green;
    border-radius: 50%;
    border: 1px solid green;
    padding: 5px;
    background-color: white;

}

.editorial{
    background-color: rgb(87, 87, 226);
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}